.overview {
  background-color: $third-color;
  color: #fff;
  &__item {
    @include flex(center, center, null, column);
    padding: 2rem 0;
    text-align: center;
    &:not(:last-child) {
      border-bottom: 1px solid #b5eae0;
    }
    span:first-child {
      font-size: 4.2rem;
      font-weight: bold;
      transition: 0.25s ease-in-out;
    }
    span:last-child {
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-top: 2rem;
    }
  }
  @media screen and (min-width: 768px) {
    &__container {
      display: flex;
    }
    &__item {
      padding-top: 8rem;
      padding-bottom: 8rem;
      width: 20%;
      border-left: 2px solid #b5eae0;
      span:first-child {
        font-size: 7.2rem;
        cursor: pointer;
        &:hover {
          color: $secondary-color;
        }
      }
      &:last-child {
        border-right: 2px solid #b5eae0;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__item {
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }
}
