*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  line-height: 1;
  font-family: $primary-font;
  color: $text-color;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
