$wrapper: 1920px;
$container: 1240px;
$primary-color: #e98383;
$secondary-color: #edd688;
$third-color: hsl(169, 56%, 73%);
$text-color: #999;
$title-color: #333;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$third-font: "Kaushan Script", cursive;
